node_modules/

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local
*.env

dist/
build/
coverage/

.cache/
.nyc_output/
.eslintcache
.parcel-cache/

.DS_Store
Thumbs.db

.vscode/
.idea/
*.sublime-project
*.sublime-workspace
